upstream facts_as_a_service {
    server unix:/tmp/facts_as_a_service.sock;
}

server {
    listen 80;
    charset utf-8;

    server_name facts.posdojo.us;

    location / {
        uwsgi_pass facts_as_a_service;
        include /opt/facts-as-a-service/releases/current/host/uwsgi_params;
    }
}
