upstream facts_as_a_service {
    server 127.0.0.1:8099;
}

server {
    listen 80;
    charset utf-8;

    server_name facts.posdojo.us;

    location / {
        try_files $uri @proxy_to_app;
    }

    location @proxy_to_app {
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_redirect off;
        proxy_pass_request_headers on;
        proxy_pass http://facts_as_a_service;
    }
}
